:root{

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.menu-link {
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.header-adress {
font-family: 'Roboto';
font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    