:root { 
    --links-iris-color: #4D5AE5;
    --CTAs-hover-focus: #404BBF;
    --shadows-navy-blue: #2E2F42;
    --succes-messages-color: #31D0AA;
    --slate-bodytext-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud-light-mode-backgrounds: #F4F4FD;
    --overlay: #2E2F42;
    --hero-image-background: #2E2F42;
    --white-header-teamcard-background: #FFFFFF;
    --modal-background: #FCFCFC;
}
body {
font-family: "Roboto", sans-serif;
color: var(--slate-bodytext-color);
background-color: var(--white-header-teamcard-background);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid ;
    border-color: var(--cornflower);
}

.header-navigation {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--links-iris-color);
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--shadows-navy-blue);
}

.header-menu-list {}

.header-menu-item {
    color: var(--hero-image-background);
}

.header-menu-link {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-bodytext-color)
}
.header-menu-link:hover, .header-menu-link:focus{
    color: var(--CTAs-hover-focus);
}
.header-adress {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-bodytext-color);
}

.header-adress-list {}

.header-adress-item {}

.header-adress-link:hover, .header-adress-link:focus {
    color: var(--CTAs-hover-focus);
}
.hero {
    background-color: var(--shadows-navy-blue);
}
.hero-title {
    font-family: 'Roboto', sans-serif ;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white-header-teamcard-background);
}
.hero-button {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--white-header-teamcard-background);
        background-color: var(--links-iris-color);
        cursor: pointer;
}
.hero-button:hover {
    background-color: var(--CTAs-hover-focus);
}
.hero-button:focus {
    background-color: var(--CTAs-hover-focus) ;
}
.goals {}

.hidden-title {}

.goals-list {}
.goals-item {
}
.goals-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--shadows-navy-blue);
}
.goals-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-bodytext-color);
}
.about {}
.about-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--hero-image-background);
}
.about-list {}
.about-item {}

.team {
    background-color: var(--cloud-light-mode-backgrounds);
}
.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--shadows-navy-blue);
}
.team-list {}
.team-item {
    background-color: var(--white-header-teamcard-background);
}
.team-name{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--shadows-navy-blue);
}
.team-job{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-bodytext-color);
}


.portfolio {}

.hidden-title {}

.portfolio-list-btn {}

.portfolio-item-btn {}

.portfolio-button {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--links-iris-color);
        background-color: var(--cloud-light-mode-backgrounds);
        border: none;
        cursor: pointer;
}
.portfolio-button :hover, .portfolio-button :focus {
    color: var(--white-header-teamcard-background) ;
    background-color: var(--CTAs-hover-focus);
}
.portfolio-picture-item {
   border: 1px solid;
   border-color: var(--cornflower); 
}
.portfolio-link {}
.portfolio-picture-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--shadows-navy-blue);
}
.portfolio-picture-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-bodytext-color);
}
.footer {
    background-color: var(--shadows-navy-blue);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--links-iris-color);
}
.footer-logo-studio {
font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-light-mode-backgrounds);
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-light-mode-backgrounds);
}